* {
  box-sizing: border-box;
  font-family: "roboto", san-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #0d081b, #0eb5bf);
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  border-radius: 50px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
  cursor: poiter;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #111;
  color: #eee;
}
.grid-container > button:hover {
  background-color: #eee;
  color: #111;
}
.grid-container > .operator {
  background: #1693ae;
}
.grid-container > .border-equals {
  border-radius: 0px 0px 20px 0px;
}
.span-two {
  grid-column: span 2;
}
.grid-container > .border {
  border-radius: 0px 0px 0px 20px;
}

.grid-container > .output {
  grid-column: 1/ -1;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  word-wrao: break-word;
  word-break: break-all;
}
.grid-container > .output > .previos-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.grid-container > .output > .current-operand {
  color: white;
  font-size: 2.5rem;
}
